@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #202020;
    color: white;
  }

.modal{
    background: #202020;
    color: white;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
}

.camara-btn {
  background-color: var(--primary-100);
  color: var(--text-100);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.camara-btn:hover {
  background-color: var(--primary-200);
}

.camara-btn:active {
  background-color: var(--primary-300);
}

.foto-btn {
  background-color: var(--primary-100);
  color: var(--text-100);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.foto-btn:hover {
  background-color: var(--primary-200);
}

.foto-btn:active {
  background-color: var(--primary-300);
}


.video {
  width: 40%;
  height: 480px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.canvas {
  width: 40%;
  height: 480px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.video-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chatbot-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1001;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.chatbot-chatbox {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.chatbot-messages {
  padding: 10px;
  height: 345px;
  overflow-y: scroll;
}

.message {
  margin-bottom: 10px;
  color: black; /* Letra negra */
}

.user {
  text-align: right;
  background-color: aqua;
}

.bot {
  text-align: left;
  background-color: beige;
}

.chatbot-input-form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
}

.chatbot-input-form input {
  width: calc(100% - 70px);
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;

}

.chatbot-input-form button {
  width: 60px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
}